a{color:#167705}
a:hover{color:#870000}
.navbar-engage .dropdown .dropdown-menu>li.active>
a{color:#156927}
.navbar-engage 
.navbar-nav>li>
a:hover,
.navbar-engage 
.navbar-nav>
li.active>a,
.navbar-engage 
.navbar-nav>
li.open>a,
.navbar-engage 
.navbar-nav>
.active>
a:hover,
.navbar-engage 
.navbar-nav>
.active>
a:focus,
.navbar-engage 
.navbar-nav>.open>
a:hover{color:#ffffff}
.navbar-engage 
.navbar-nav>li 
a:hover::before,
.navbar-engage 
.navbar-nav>
li.active 
a::before,
.navbar-engage 
.navbar-nav>
li.open>
a::before,
.navbar-engage 
.navbar-nav>
.active>
a:focus::before{background:#ffffff}
.navbar-engage .dropdown 
.dropdown-menu{border-color:#008751}
#main-menu>li>a:hover,#main-menu>
li.active>a,#main-menu>
li.open>a,#main-menu>.active>
a:hover,#main-menu>.active>
a:focus,#main-menu>.open>
a:hover{color:#073ae2}
#main-menu .dropdown 
.dropdown-menu>
li.active>a{color:#008751}
.open>a{color:#008751!important}
.dropdown-item.active{background-color:#858700}
.navbar-engage .dropdown .dropdown-menu>li>
a:hover,.navbar-engage .dropdown 
.dropdown-menu>li>a 
.active{color:#008751}#main-menu 
.dropdown .dropdown-menu>li>a:hover,
#main-menu .dropdown 
.dropdown-menu>li>
a:active{color:#008751}
.section-title::before{border-color:#008751}
.small-title::before{border-color:#008751}
.page-header-section{background:#008751}
#service-block-main .service-item:hover 
i{color:#008751;border-color:#008751}#service-block-main 
.service-item:hover h2{color:#008751}#service-block-main 
.service-item:hover .icon-wrapper::before{background:#008751}
#service-block-main .service-item:hover 
.icon-wrapper::after{background:#008751}#portfolio 
.portfolio-items figure figcaption:hover{background:#56b000}#other-services 
.other-service-item .icon .icon-medium{background:#008751}#other-services 
.other-service-item:hover .icon-medium{background:#666}#other-services 
.other-service-item .service-content h3{color:#008751}#progress 
.icon-effect{color:#008751}#clients #clients-scroller 
.owl-pagination .owl-page.active span{background:#008751}#clients #clients-scroller 
.owl-pagination .owl-page span{border-color:#008751}#testimonial #testimonial-carousel 
.carousel-control{color:#008751}#testimonial #testimonial-carousel 
.carousel-control{color:#008751}#testimonial 
.item blockquote small{color:#008751}#testimonial 
.testimonial-inner:before{background:red}#testimonial 
.rating-star{color:#008751}#blog .blog-item-img 
.blog-category{background:#008751}#blog 
.blog-item-img .blog-category{background:#008751}#blog 
.blog-item-text h3{color:#008751}#blog 
.blog-item-text .blog-item-info a:hover{color:#008751}#blog 
.blog-item-text h3 a:hover{color:#008751}
.scroll-top:hover{background:#008751;border-color:#008751}
.skill-wrapper .progress .progress-bar{background-color:#008751}
.skill-wrapper .progress .percent{color:#008751}#why-choose 
.icon i{color:#008751}#why-choose 
.tab-container h2{color:#008751}#why-choose 
.tab-menu .list-group>a.active{background:#008751}#notice 
.notice-content{border-color:#008751}#service-block-1 
.service-item:hover .service-content h2{color:#008751}#service-block-1 
.service-item:hover .icon{border-color:#008751}#service-block-1 
.service-item:hover .icon i{background:#008751}#service-block-2 
.service-inner:hover i{color:#008751}#service-block-2 
.service-inner:hover h3{color:#008751}#team-block-2 
.team-member:hover{border-color:#008751}.pricing-table-1 
.table-header{background:#008751}#pricing-block-2{background:#008751}
.pricing-table-x .plan .price{color:#008751}.pricing-table-x .plan 
.period{color:rgba(153,204,51,.7)}.panel-default 
.panel-heading a{background:#008751}#blog-page 
.sidebar .search-box .form-control:focus,#blog-page 
.sidebar .search-box button:focus,#blog-page 
.sidebar .search-box input:focus,#blog-page 
.sidebar .search-box textarea:focus{border-color:#008751}#blog-page 
.sidebar .plain-search-btn{color:#008751}#blog-page .post-content 
.reading::after{border-color:#008751}.light li a{color:#008751}#blog-page 
.widget-title::before{border-color:#008751}
.flat li a i{background:#008751;border-color:#008751}#tabs 
.tabs-style-2 .nav-tabs li.active a,#tabs .tabs-style-2 
.nav-tabs li.active a:hover,#tabs .tabs-style-2 .nav-tabs li.active a:focus,#tabs 
.tabs-style-2 .nav-tabs li a:hover{border-color:#007387;background-color:#008751}#tabs 
.tabs-style-2 .nav-tabs{border-color:#008751}#contact 
.contact-info-wrapper .contact-item-wrapper i{background:#008751}
.preset-bg{background:#008751}.dark-bg{background:rgba(0,0,0,.1)}
.btn-danger{background-color:#008751;border-color:#008751}.btn-danger:hover,
.btn-danger:active,.btn-danger.active,.open>
.dropdown-toggle.btn-danger{background-color:#56b000;border-color:#56b000}
.page-header .page-header-inner:before{background-color:#56b000;opacity:.2}
.slicknav_btn{border-color:#008751}.slicknav_btn:hover{background:#008751}
.slicknav_nav a:hover,.slicknav_open .active{color:#008751}
.slicknav_btn{background:#008751}
.tparrows.preview2:hover:after{color:#008751}#default-tab 
.nav-tabs>li>a.active,#default-tab .nav-tabs>li 
a.active:focus,#default-tab .nav-tabs>li 
a.active:hover{color:#008751}#default-tab ul.nav-tabs>li 
a.active::before{background-color:#008751}#round-tab ul li 
a.active{color:#fff;background:#008751;border-radius:4px}
#vertical-tab ul.nav-tabs li a.active{border-bottom:3px solid #008751}#vertical-tab 
ul.nav-tabs li a.active>.fa{color:#008751}#tab-with-icon 
.nav-tabs li a:hover i,#tab-with-icon .nav-tabs li 
a:focus,#tab-with-icon .nav-tabs li a.active i{background:#008751 none repeat scroll 0 0}
.btn-outline{border-color:#008751;color:#008751}.btn-outline:hover{background:#008751}
.progress-bar{background:#008751}#testimonial .testimonial-footer{color:#008751}
#testimonial .owl-pagination .owl-page span{border:1px solid #008751}#testimonial 
.owl-pagination .owl-page.active span{background:#008751 none repeat scroll 0 0}#testimonial 
.testimonial-footer a{color:#008751}#single-testimonial-item 
.testimonial-footer a{color:#008751}#single-testimonial-item 
.owl-pagination .owl-page.active span{background:#008751 none repeat scroll 0 0}
#single-testimonial-item .owl-pagination .owl-page span{border:1px solid #008751}
#color-client-scroller .client-item-wrapper{background:#008751 none repeat scroll 0 0}
#clients .client-item-wrapper:hover{border-color:#008751}i.icon-default{color:#008751}
i.icon-round{background-color:#008751}i.icon-round-border{border:3px solid #008751;color:#008751}
i.icon-box{background-color:#008751}i.icon-box-border{border:3px solid #008751;color:#008751}
.blog-post-footer ul li a{border:1px solid #008751;color:#008751}
.blog-post-footer ul li a:hover{background:#ffff none repeat scroll 0 0;border:1px solid #008751}
.blog-post-content blockquote.blockquote{border-left:5px solid #008751}
.blog-pagination nav ul.pagination li.page-item.active a,.blog-pagination nav ul.pagination li.page-item a:hover,
.blog-pagination nav ul.pagination li.page-item a:focus{background:#008751 none repeat scroll 0 0;border:1px solid #008751}
.form-control:focus{border-color:#008751}h2.widget-title{color:#008751}.widget.tag-cloud a{background:#008751}
.sidebar-area .search-bar button i.fa{color:#008751}.contact-title-text h2{color:#008751}.roof-menu ul li.active 
a{color:#008751}.roof-social-icons a i.fa:hover{background:#008751}.service2-single-service 
.fa{background:#008751 none repeat scroll 0 0}.form-control:focus{border-color:#008751}
.btn-common{background:#008751 none repeat scroll 0 0}
.btn-common::before{background:#56b000 none repeat scroll 0 0}.back-to-top i{background-color:#008751}#carousel-area .carousel-item 
.carousel-caption{color:#56b000}.top_search_icon{color:#008751}#carousel-area .carousel-indicators li:hover,#carousel-area
 .carousel-indicators li.active{background:#008751 none repeat scroll 0 0}.service-item .icon-wrapper i{color:#008751}
 .split .details-list h3{color:#008751}#other-services .nav-tabs li a:hover i,#other-services .nav-tabs li a:focus,#other-services 
 .nav-tabs li a.active i{background:#000d87 none repeat scroll 0 0}.btn-common.active{background:#56b000 none repeat scroll 0 0}
 .sup-desc-wrap .sup-link .left-link,.sup-desc-wrap .sup-link .right-link{background:#008751 none repeat scroll 0 0;border:1px solid #008751}
 .featured-box .featured-icon i{color:#008751}#team .team-item figure figcaption .orange-line{background:#008751 none repeat scroll 0 0}#team 
 .team-item .social .facebook,#team .team-item .social .twitter,#team .team-item .social .google-plus{background:#008751 none repeat scroll 0 0;border:1px solid #008751}
 .orange-line{background:#008751 none repeat scroll 0 0}#cool-facts .fact-count h3{color:#008751}#testimonial .testimonial-inner:hover{border-color:#008751}#blog 
 .blog-item-text .blog-one-footer i{color:#008751}#blog .blog-item-text .blog-one-footer a:hover{color:#56b000}.portfolio-meta ul li span{color:#56b000}#main-menu ul 
 .dropdown .dropdown-menu .dropdown-item.active,#main-menu ul .dropdown .dropdown-menu .dropdown-item.active:focus,#main-menu ul .dropdown .dropdown-menu 
 .dropdown-item.active:hover{background-color:#56b000;color:#fff}.navbar li.active .nav-link{color:#56b000!important}#main-menu 
 .nav-link:hover{color:#ffff}.sup-desc-wrap .sup-link a:hover{color:#56b000}#team .team-item .social a:hover{color:#56b000}#main-menu ul .dropdown .dropdown-menu a:hover,#main-menu .dropdown 
.dropdown-menu a .active{color:#00b05e}
.top_search_con input:focus{border:1px solid #008751}footer 
.image-list .post-content .meta{color:#008751}footer 
.footer-widget form input:focus{border-color:#56b000}
.about-2 .about-inner .icon i{color:#56b000}.feature-item 
.icon i{color:#56b000}.footer-area .address li a i{color:#ffffff}
.footer-area .address li a:hover{color:#ff0000}
.owl-carousel button.owl-dot.active span,.owl-carousel button.owl-dot.clickable,
.owl-carousel button.owl-dot:hover span{background:#56b000}